<div class="row">
	<div class="col-lg-6 col-xs-4 col-xs-offset-4">
		<div class="panel panel-default">
		  	<div class="panel-body">AVALIADOR DE SEGURANCA DE SENHA</div>
		  	<div class="panel-footer well well-lg">
		    	<input type="{{showPassword ? 'text' : 'password'}}" class="form-control" placeholder="Senha" ng-change="passwordAction()" ng-model="form.password"/>
	    		<span class="label {{passwordMetter.labelScore}}">{{passwordMetter.score}}%</span>
	    		<span class="label {{passwordMetter.labelComplexity}}">{{passwordMetter.complexity}}</span>
	    		<div class="pull-right">
	    			<input type="checkbox" ng-model="showPassword">Mostrar senha
	    		</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-footer">
			<h2 class="col-xs-4 col-xs-offset-4">Aditivos</h2>
		    <table class="table">
			    <thead>
			    	<tr>
			    		<th><span class="glyphicon glyphicon-circle-arrow-down"></span></th>
			    		<th>Descricao</th>
			    		<th>Quantidade</th>
			    		<th>Pontuacao</th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-class="passwordMetter.metrics.additions.characters.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.additions.characters.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.additions.characters.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.additions.characters.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Numero de caracteres</td>
			    		<td>{{passwordMetter.metrics.additions.characters.counter}}</td>
			    		<td>{{passwordMetter.metrics.additions.characters.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.additions.upperCase.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.additions.upperCase.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.additions.upperCase.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.additions.upperCase.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Letras maiusculas</td>
			    		<td>{{passwordMetter.metrics.additions.upperCase.counter}}</td>
			    		<td>{{passwordMetter.metrics.additions.upperCase.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.additions.lowerCase.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.additions.lowerCase.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.additions.lowerCase.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.additions.lowerCase.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Letras minusculas</td>
			    		<td>{{passwordMetter.metrics.additions.lowerCase.counter}}</td>
			    		<td>{{passwordMetter.metrics.additions.lowerCase.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.additions.numbers.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.additions.numbers.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.additions.numbers.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.additions.numbers.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Numeros</td>
			    		<td>{{passwordMetter.metrics.additions.numbers.counter}}</td>
			    		<td>{{passwordMetter.metrics.additions.numbers.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.additions.symbols.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.additions.symbols.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.additions.symbols.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.additions.symbols.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Simbolos</td>
			    		<td>{{passwordMetter.metrics.additions.symbols.counter}}</td>
			    		<td>{{passwordMetter.metrics.additions.symbols.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.additions.middleNumbersSymbols.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.additions.middleNumbersSymbols.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.additions.middleNumbersSymbols.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.additions.middleNumbersSymbols.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Media numeros ou simbolos</td>
			    		<td>{{passwordMetter.metrics.additions.middleNumbersSymbols.counter}}</td>
			    		<td>{{passwordMetter.metrics.additions.middleNumbersSymbols.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.additions.requirements.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.additions.requirements.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.additions.requirements.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.additions.requirements.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Requisitos</td>
			    		<td>{{passwordMetter.metrics.additions.requirements.counter}}</td>
			    		<td>{{passwordMetter.metrics.additions.requirements.score}}</td>
			    	</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-footer">
			<h2 class="col-xs-4 col-xs-offset-4">Deducoes</h2>
		    <table class="table">
		    	<thead>
			    	<tr>
			    		<th><span class="glyphicon glyphicon-circle-arrow-down"></span></th>
			    		<th>Descricao</th>
			    		<th>Quantidade</th>
			    		<th>Pontuacao</th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-class="passwordMetter.metrics.deductions.lettersOnly.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.lettersOnly.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.lettersOnly.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.lettersOnly.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Somente letras</td>
			    		<td>{{passwordMetter.metrics.deductions.lettersOnly.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.lettersOnly.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.numbersOnly.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.numbersOnly.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.numbersOnly.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.numbersOnly.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Somente numeros</td>
			    		<td>{{passwordMetter.metrics.deductions.numbersOnly.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.numbersOnly.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.repeatCharacters.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.repeatCharacters.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.repeatCharacters.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.repeatCharacters.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Caracteres repetidos</td>
			    		<td>{{passwordMetter.metrics.deductions.repeatCharacters.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.repeatCharacters.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.consecutiveUpperLetters.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.consecutiveUpperLetters.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.consecutiveUpperLetters.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.consecutiveUpperLetters.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Letras consecutivas em maiusculas</td>
			    		<td>{{passwordMetter.metrics.deductions.consecutiveUpperLetters.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.consecutiveUpperLetters.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.consecutiveLowerLetters.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.consecutiveLowerLetters.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.consecutiveLowerLetters.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.consecutiveLowerLetters.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Letras consecutivas em minusculas</td>
			    		<td>{{passwordMetter.metrics.deductions.consecutiveLowerLetters.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.consecutiveLowerLetters.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.consecutiveNumbers.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.consecutiveNumbers.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.consecutiveNumbers.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.consecutiveNumbers.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Numeros consecutivos</td>
			    		<td>{{passwordMetter.metrics.deductions.consecutiveNumbers.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.consecutiveNumbers.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.sequentialLetters.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.sequentialLetters.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.sequentialLetters.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.sequentialLetters.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Letras sequenciais</td>
			    		<td>{{passwordMetter.metrics.deductions.sequentialLetters.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.sequentialLetters.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.sequentialNumbers.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.sequentialNumbers.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.sequentialNumbers.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.sequentialNumbers.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Numeros sequenciais</td>
			    		<td>{{passwordMetter.metrics.deductions.sequentialNumbers.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.sequentialNumbers.score}}</td>
			    	</tr>
			    	<tr ng-class="passwordMetter.metrics.deductions.sequentialSymbols.score > 0 ? 
			    						'success' :
			    		passwordMetter.metrics.deductions.sequentialSymbols.counter > 0 ?
			    						'danger' :
			    						'warning'">
			    		<td><span ng-class="passwordMetter.metrics.deductions.sequentialSymbols.score > 0 ? 
			    							'glyphicon glyphicon-ok-circle' : 
			    			passwordMetter.metrics.deductions.sequentialSymbols.counter > 0 ?
			    							'glyphicon glyphicon-ban-circle' :
			    							'glyphicon glyphicon-remove-circle'"></span></td>
			    		<td>Simbolos sequenciais</td>
			    		<td>{{passwordMetter.metrics.deductions.sequentialSymbols.counter}}</td>
			    		<td>{{passwordMetter.metrics.deductions.sequentialSymbols.score}}</td>
			    	</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>